* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.container {
  display: flex;
  gap: 40px;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.product-info {
  flex: 1;
  margin-top: 20px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 7px 15px;
  letter-spacing: 2px;

  position: absolute;
  top: -17px;
  left: -38px;
}

.product-description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.box-container {
  display: flex;
  gap: 10px;
}

.box {
  width: 22px;
  height: 22px;
  background-color: #000;
  cursor: pointer;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: #ec2f2f;
}

.color-yellow {
  background-color: #f0bf1e;
}

.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}

.product-details {
  margin-top: 20px;
  flex: 1;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: #000;
  border: none;
  border-top: solid 4px #000;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
